<!DOCTYPE html>
<html>
<head>
	<title>Suit Results</title>
	<link href="/stylesheets/background.css" rel="stylesheet" type="text/css">
</head>
<body>
	<p><a href="/w10/suitDetails?id=<%= id %>"><strong><%= name %></strong></a></p>
</body>
</html>
