<!DOCTYPE html>
<html>
<head>
	<title>Suit Results</title>
	<link href="/stylesheets/background.css" rel="stylesheet" type="text/css">
</head>
<body>
<script type="text/javascript">
	var myVar = <%- id %>
	document.write(myVar)
</script>
	<p><a href="/w10/suitDetails" onclick="location.href=this.href+'?id='+myVar;return false;"><strong><%= name %></strong></a></p>
</body>
</html>
