<!DOCTYPE html>
<html>
<head>
	<title>Suit Results</title>
	<link href="/stylesheets/images.css" rel="stylesheet" type="text/css">
</head>
<body>
	<p><strong>Name: <%= name %></strong><br>
	<strong>Colors: <%= color %></strong><br>
	<img src="<%= image %>"></p>

</body>
</html>
