<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Calculator Results</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1>Postal Rate Calculator Results</h1>
	<p>The postal rate for <%= mail_type %> weighing <%= weight %> lbs is $<%= rate %></p>
	
	<button><a href="/">New Order</a></button>
</body>
</html>
